[Unit]
Description=disables turbo-boost

[Service]
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 240
ExecStart=/usr/local/sbin/turbo-boost.sh disable

[Install]
WantedBy=default.target
